{% extends 'layout.html' %} 
{% block content %}
    <br><br>
    <div class="card">
    <div class="card-header">
        
    </div>
    <div class="card-body">
        <h5 class="card-title">Create</h5>
        <p class="card-text">create and add Exam details.</p>
        <a href="{{url_for('createexam')}}" class="btn btn-primary">Register</a>
    </div>
    </div>

    <br>
    <div class="card">
    <div class="card-header">
       
    </div>
    <div class="card-body">
        <h5 class="card-title">Edit/Delete </h5>
        <p class="card-text">Remove or edit Exam details</p>
        <a href="#" class="btn btn-primary">Edit/Delete</a>
    </div>
    </div>

    <br>
    <div class="card">
    <div class="card-header">
       
    </div>
    <div class="card-body">
        <h5 class="card-title">View </h5>
        <p class="card-text">View Exam details</p>
        <a href="#" class="btn btn-primary">Views</a>
    </div>
    </div>
    <br>
    <br>
{% endblock content %}