{% extends "layout.html" %}
{% block content %}
  
    <img src="" alt="">
    <br>
    <div class="card">
      <h5 class="card-header"></h5>
      <div class="card-body">
        <h5 class="card-title">Manage Exams</h5>
        <p class="card-text">Create and manage Exams</p>
        <a href="{{url_for('manage_exam')}} " class="btn btn-primary">Manage exams</a>
      </div>
    </div>

    <br>
    <div class="card">
      <h5 class="card-header"></h5>
      <div class="card-body">
        <h5 class="card-title">Manage Faculties</h5>
        <p class="card-text">Add,delete,update Faculty details</p>
        <a href="{{url_for('managefaculty')}} " class="btn btn-primary">Manage faculty</a>
      </div>
    </div>
 
{% endblock content %}