{% extends 'layout2.html' %} 
{% block content %} 
<center>
<br><br>
<div class="card-text-center" style="width: 18rem;">
    <div class="card text-center" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">admin login</h5>
          <p class="card-text">login as Admin</p>
          <a href="{{url_for('login')}}" class="btn btn-primary">login</a>
        </div>
  </div>
  <br>
  <div class="card text-center" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">faculty login</h5>
      <p class="card-text">Login as Faculty</p>
      <a href=" {{url_for('facultylogin')}} " class="btn btn-primary">login</a>
    </div>
  </div>
  </div>
</center>
{% endblock content %} 